---
import type { Props } from '@astrojs/starlight/props';

// const { title } = Astro.props.entry.data;
---

<!-- <h1 id="_top">{title}</h1> -->
<!-- <h1></h1> -->
<style>
  h1 {
    font-family: 'Comic Sans';
  }
</style>